body {background-color:Silver;
left-margin:10px
right-margin:10px}
h1{
background-color:#66CDAA;
text-align:left;
padding:10px}
h3{color:Navy}
p{background-color:LightSteelBlue;
font-family: Arial, Helvetica, sans-serif;
text-align:justify;
}